#Tuples and Sequences
##None
`None` is an object which is a datatype of its own (NoneType).

Used to define no value or nothing.

In [ ]:
var = None
print(var)
print(type(var))

None
<class 'NoneType'>

##Function Without Return
Functions assigned to a variable, when function does not have a `return` statement, the variable will get the value `None`

In [ ]:
def increment(a):
    print(a+1)

a = 55
result=increment(a)
print(result)

56
None

##Function That Returns Nothing
When a function returns no value, the default value will be `None`

**Example - 1**

In [ ]:
def increment(a):
    a += 1
    return

a = 55
result = increment(a)
print(result)

None

**Example - 2**

In [ ]:
def increment(a):
    a += 1
    return None

a = 5
result = increment(a)
print(result)

None

**Example - 3**

In [ ]:
result = len("Hi")
print(result)

2

#Tuple
* Holds an ordered sequence of items.
* Tuple is immutable object, where as list is a mutable object.

In [ ]:
a = 2
tuple_a = (5, "Six", a, 8.2)

##Creating a Tuple
* Created by enclosing elements within (round) brackets.
*Each item is separated by a comma.

In [ ]:
a = 2
tuple_a = (5, "Six", a, 8.2)
print(type(tuple_a))
print(tuple_a)

<class 'tuple'>
(5, 'Six', 2, 8.2)

##Tuple with a Single Item

In [ ]:
a = (1,)
print(type(a))
print(a)

##Accessing Tuple Elements
Accessing Tuple elements is also similar to string and list accessing and slicing.

In [ ]:
a = 2
tuple_a = (5, "Six", a, 8.2)
print(tuple_a[1])

Six

##Tuples are Immutable
Tuples does not support modification.

In [ ]:
tuple_a = (1, 2, 3, 5)
tuple_a[3] = 4
print(tuple_a)

TypeError: 'tuple' object does not support item assignment

##Operations can be done on Tuples
* len()
*Iterating
*Slicing
*Extended Slicing

##Converting to Tuple
`tuple(sequence)` Takes a sequence and converts it into tuple.

##String to Tuple

In [ ]:
color = "Red"
tuple_a = tuple(color)
print(tuple_a)

('R', 'e', 'd')

##List to Tuple

In [ ]:
list_a = [1, 2, 3]
print(type(list_a))
list_a = tuple(list_a)
print(type(list_a))

<class 'list'>
<class 'tuple'>

##Sequence to Tuple

In [ ]:
tuple_a = tuple(range(4))
print(tuple_a)

(0, 1, 2, 3)

##Membership Check
Check if given data element is part of a sequence or not.

Membership Operators

* in
*not in

**Example - 1**

In [ ]:
tuple_a = (1, 2, 3, 4,5)
is_part = 5 in tuple_a
print(is_part)

True

**Example - 2**

In [ ]:
tuple_a = (1, 2, 3, 4)
is_part = 1 not in tuple_a
print(is_part)

False

##List Membership

In [ ]:
list_a = [1, 2, 3, 4]
is_part = 1 in list_a
print(is_part)

True

#String Membership

In [ ]:
word = 'Python'
is_part = 'th' in word
print(is_part)

True

#Packing & Unpacking
##Unpacking
Values of any sequence can be directly assigned to variables.

Number of variables in the left should match the length of sequence.

In [ ]:
tuple_a = ('R', 'e', 'd')
s_1, s_2, s_3 = tuple_a
print(s_1)
print(s_2)
print(s_3)

R
e
d

##Errors in Unpacking

In [ ]:
tuple_a = ('R', 'e', 'd')
s_1, s_2 = tuple_a
print(s_1)
print(s_2)

ValueError: too many values to unpack (expected 2)

In [ ]:
tuple_a = ('R', 'e', 'd')
s_1, s_2, s_3, s_4 = tuple_a
print(s_1)

ValueError: not enough values to unpack (expected 4, got 3)

##Tuple Packing
`()` brackets are optional while creating tuples.

In Tuple Packing, Values separated by commas will be packed into a tuple.

In [ ]:
a = 1, 2, 3
a.add(4)
print(type(a))
print(a)

AttributeError: 'tuple' object has no attribute 'add'

In [ ]:
a, = 1,
print(type(a))
print(a)

<class 'tuple'>
(1,)